@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap');


* { box-sizing: border-box; }

#__next {
  display: flex;
  flex-direction: column;
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: #030306;

  font-family:
    Almarai,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, footer {
  font-family: "Baloo Tamma 2",
               Roboto,
               Helvetica,
               sans-serif;
}

main {
  color: #FEFEFF;
  flex-grow: 1;
  transition-delay: 450ms;
  transition: flex-grow 425ms;
}

main:empty {
  flex-grow: 0.00001;
  height: 30vh;
}

footer {
  position: sticky;
  bottom: 0;
  background: linear-gradient(#390069, #392969);
  color: #CACACE;
  padding: .6rem 0;
  text-align: center;
  font-size: 1.2em;
  transition-delay: 300ms;
  max-height: 2.4em;
  overflow: hidden;
}

footer > nav {
  font-size: 0.6em;
}

footer, footer .achroma-text {
  transition:
    font-size 425ms,
    max-height 425ms;
}

footer .achroma-text {
  color: #FEFEFF;
}

main:empty + footer,
main + footer:hover,
main + footer:active {
  font-size: 2rem;
  max-height: 80vh;
}

main:empty + footer .achroma-text,
main + footer:hover .achroma-text,
main + footer:active .achroma-text {
  font-size: 6rem;
}